#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #aed7c5;
  width: 50%;
  border-radius: 10px;
}

#counter {
  font-size: 100px;
}
button {
  margin: 10px;
  background-color: #d9c171;
  padding: 5px 10px;
  font-size: 20px;
}
